*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(wallpaper.jpg);
    background-size: cover;
}

#container{
    border: ridge 4px;
    border-radius: 5px;
    border-color: indianred;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.box{
    border: 2px outset gray;
    border-radius: 5px;
    background: linear-gradient(to bottom,  rgba(0,0,0,.5) 0%,rgba(105,105,105,.5) 100%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#box0{
    background:rgba(30, 144, 255, 0.5);
    cursor: pointer;
}

.ligneBas{
    display: flex;
    justify-content: space-between;
}


.date{
    font-size: 0.7rem;
    font-style: oblique;
    color : AntiqueWhite ;
    align-self: flex-start;
}

.jour{
    font-size: 1.2rem;
    color: white;
    align-self: center;
}

.poids{
    font-size: 0.8rem;
}

.valid{
    font-size: 0.8rem;
}

#popUp0{
    display: none;
}

#popUp{
    display: none;
}

#divPoids{
    display: none;
}

.pop{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    padding-bottom: 5vh;

    border-radius: 5px;
    color: royalblue;

    z-index:1;
    background-color: white;
    text-align: center;
}

#closePop{
    position: relative;
    left:94%;
    z-index: 1;

    color: red;
    width: 1rem;
    height: 1rem;
    border-radius: 4px;
    text-align: center;
    line-height: 100%;
    font-weight: bold;
    cursor: pointer;
}



button, input[type=submit]{
    border: none;
    height: 5vh;
    border-radius: 5px;
    width: 16vw;
    cursor: pointer;
}

input{
    width: 16vw;
    height: 4vh;
    border-radius: 5px;
}

#output{
    background: rgba(91,137,211,0.5);
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.between{
    display: flex;
    justify-content: space-between;
}

#nbOK{
    color: green;
    font-weight: bold;
}

#nbNOK{
    color: red;
    font-weight: bold;
}

#nbKgs{
  color: blue;
  font-weight: bold;
}




